#bg{
    background: linear-gradient(.25turn,#000818,78%, #325e11 ) ;
}

a:link{
    color: #52971d;
    text-decoration: none;
}

a:visited{
    color: #52971d;
}

.header-container{
    display: grid;
    grid-template-columns: auto auto auto 300px;
    padding: 15px;
    padding-left: 50px;
    margin: 15px;
}

.text-div{
    color: #52971d;
    text-align: right;
    font-size: 28px;
    padding-right: 5px;
    padding-top: 37px;
}

h1{
    color: whitesmoke;
    font-size: 50px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    padding-left: 130px;
    padding-top: 10px;
    
}

.search-box{
    display: flex;
    align-items: center,;
    margin-left: 100px;
    margin-top: 37px;
}

.header-container input{
    width: 200px;
    height: 24px;
    padding: 3px;
    margin-left: 0;
}

.header-container button{
    width: 24px;
    height: 24px;
    margin-bottom: 0px;
    margin-left: 5px;
    padding: 0%;
    margin-top: 0;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.footer-container{
    display: grid;
    position: relative;
    grid-template-columns: auto auto ;
    width: 100%;
    padding: 15px;
    margin: 15px;
    bottom: 5px;
    border: none;
}

.footer-container img{
    width: 300px;
    height: 75px;
    margin: 15px;
}

.body-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px;
    
    margin-left: 15px;   
    margin-top: 100px;
    border: none;
    min-height: 600px;
  
}

h2{
    color: #52971d;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    font-size: 36px;
}

.body-container div{
    border: 2px solid #325e11;
    margin: 10px;
    padding: 0;
}

h2 button{
    width: 30px;
    height: 30px;
    margin: 10px;
    float: right;
    padding: 0px;
    margin-right: 20px;
    background-image: url(images/addIcon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    cursor: pointer;
}

.body-container input{
    padding: 3px;
    margin-top : 7px;
    margin-left: 0;
    margin-right: 0;
    opacity: 100%;
    width: 70%;
    background-color: #325e11;
    color: whitesmoke;
}



li{
    color: whitesmoke;
    font-size: 28px;
    font-family: sans-serif;
    padding-left: 0px;
    max-width: 100vh;

}

hr{
    clear: both;
    color: darkgreen;
    padding: 0%;
    margin: 0%;
    max-width: 100vh;
}

.deleteBtn{
    padding: 0%;
    margin-left: 0px;
    float: right;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    background-image: url(images/deleteIcon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    cursor: pointer;

}

.editBtn{
    padding: 0%;
    margin-left: 0px;
    float: right;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    background-image: url(images/editIcon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    cursor: pointer;
}

.arrowBtn{
    padding: 0%;
    margin-left: 0px;
    float: right;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    background-image: url(images/arrowIcon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    cursor: pointer;
}

.checkBtn{
    padding: 0%;
    margin-left: 0px;
    float: right;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    background-image: url(images/checkIcon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    cursor: pointer;
}


.taskText{
    display: inline-block;
    width: calc(100% - 150px); 
    vertical-align: middle;
    word-wrap: break-word;
    margin: 5px 0;
}
